.App {
  text-align: center;
}

.scroll-container {
    background: linear-gradient(rgba(56,183,181,0.8)30%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), rgba(56,183,181,0.8) 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.1), rgba(0,0,0,0)), radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.1), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 10px, 100% 10px;
    background-attachment: local, local, scroll, scroll;
  
}